@media (max-width: 320px) {

	.flexslider .flex-caption {
		bottom: -75px !important;
	}

	.features .features-item .features-content h3 {
		font-size: 16px;
	}

	ul.portfolio-categ li {
		font-size: 11px;
	}

	ul.portfolio-categ li a {
		padding: 8px 10px;
	}

	h1, .huno {
		font-size: 33.2px;
	}

	.clasecudesitexto {
		font-size: 14px;
		letter-spacing: 0px;
	}

	span.pi-weight-700 {
		font-size: 25px;
	}

	.jumbotron {
		/* background: #fff; */
		margin-bottom: -40px !important;
	}

	a.pi-weight-400.btn.pi-btn.pi-btn-bigger.pi-btn-contur-2 {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 375px) and (min-width: 350px) {
	ul.portfolio-categ li a {
		padding: 8px 12.5px;
	}

	h1, .huno {
		font-size: 40px;
	}

	.jumbotron {
		/* background: #fff; */
		margin-bottom: -30px !important;
	}

	.clasecudesitexto {
		font-size: 15px;
	}

	span.pi-weight-700 {
		font-size: 20px;
	}

	a.pi-weight-400.btn.pi-btn.pi-btn-bigger.pi-btn-contur-2 {
		margin-top: 10px;
	}

}

@media (max-width: 425px) {

	#thumbs {
	    overflow: scroll;
	}

	li.contenttxtteam {
		font-size: 12px;
	}

	h3.myh3reference {
		font-size: 18px;
	}

	.three>li {
		width: 280px !important;
	}

	.three>li .wrapper {
		width: 280px !important;
	}

	.three>li span {
		left: -110px !important;
	}

	.features .features-item {
		padding: 20px 0 0px 0;
	}

	.features .features-item .features-content {
		margin-left: 8px;
		padding-right: 8px;
	}

	p.arquitecto {
		margin-top: 25px !important;
	}

	.myclassparallax {
		width: auto;
	}

	.jumbotron {
		/* background: #fff; */
		margin-bottom: -20px !important;
	}

	section.features {
		padding-top: 10px !important;
	}

	.flexslider .slides img {
		/* width: 150%; */
	}
}

@media (max-width: 1024px) {

	.imgone{
		height: auto !important;
	}


	.flex-caption {
		margin: 80px;
	}
}

@media (max-width: 990px) {
	.espetialclass.center {
		margin-left: 0px;
		margin-top: 10px;
	}

	h2.servicetitle {
		font-size: 11pt;
	}

	.navbar .nav>li>a {
		font-size: 11px;
	}
}

@media (max-width: 682px) {
	.fondomenucudesi {
		display: none;
	}

	#contentsection {
		display: none;
	}

	.flex-caption h3 {
		font-size: 22px;
	}
}

/*
@media (max-width: 1060px){
  .clasecudesitexto {

      letter-spacing: 0px;

  }

} */
/* @media (max-width: 700px) {

  	.clasecudesitexto {
  		font-size: 16px;
  		letter-spacing: 0px;
  	}

} */
